go 1.20

use ./osmomath

use ./osmoutils

use ./x/ibc-hooks

use ./tests/cl-go-client

use ./tests/cl-genesis-positions

use .

use ./x/epochs

replace github.com/cometbft/cometbft => github.com/chainapsis/cometbft v0.37.2-querier